ui_*
users*
secWindow*
secondwindow*
object_script.JackboxTournament.Debug
object_script.JackboxTournament.Release
dialog.ui
gamewindow*
AddToRoundMenu*
debug/
Makefile*
*.autosave
.qmake.stash
JackboxTournament.pro.user
Images.qrc
Test.qrc
JackboxT.O.-GUI-Version/
/JackboxT.O.-GUI-Version/